@{
  Layout = "_Layout";
}

@model Salon.Models.Client

<h2>Edit</h2>

<h4>Edit this client: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.ClientId)

  @Html.LabelFor(model => model.Name)
  @Html.EditorFor(model => model.Name)

  @Html.LabelFor(model => model.Stylist)
  @Html.DropDownList("StylistId")
  <br>

  <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to list", "Index")</p>